@import "http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css";

body{
    margin:0;
    padding:0;
    background: rgb(10, 10, 10);
}
.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.box a {
    width:60px;
    height:60px;
    display: inline-flex;
    color:wheat;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-size: 40px;
    border-bottom:4px solid #313131;
    margin:10px;
    border-radius:20px;
}
.box a:hover{
    border:3px #71f04a;
    opacity: 0.8;
}

.tw {
    background: #22a7f0;
}
.fb{
    background: #2c82c9;
}
.yt{
    background: #d91e18;
}
.ins{
    background: #f62459;
}
.git{
    background: #67809f;
}